In [28]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import random
import sys

In [19]:
heart_data = pd.read_csv('https://raw.githubusercontent.com/scherala/LearningML/master/Data/heart.csv')
# Separate features
nominal_features = ['anaemia', 'diabetes', 'high_blood_pressure', 'sex', 'smoking']
nominal_feature_index = [1,3,5,9,10]
target_column = ['DEATH_EVENT']
numeric_features = set(heart_data.columns) - set(nominal_features) - set(target_column)
heart_data.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

### Adding sys.maxsize in random positions in the place of missing values

In [34]:
index = [(row, col) for row in range(heart_data.shape[0]) for col in range(heart_data.shape[1])]
for row, col in random.sample(index, int(round(.1*len(index)))):
    if col not in nominal_feature_index:
        heart_data.iat[row, col] = sys.maxsize

In [35]:
heart_data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,9.223372e+18,0,582,0,20,1,265000.00,9.223372e+18,9223372036854775807,1,0,4,1
1,9.223372e+18,0,7861,0,38,0,263358.03,9.223372e+18,136,1,0,9223372036854775807,1
2,6.500000e+01,0,9223372036854775807,0,9223372036854775807,0,162000.00,1.300000e+00,129,1,1,7,9223372036854775807
3,9.223372e+18,1,9223372036854775807,0,20,0,210000.00,1.900000e+00,9223372036854775807,1,0,9223372036854775807,1
4,6.500000e+01,1,160,1,20,0,327000.00,2.700000e+00,116,0,0,8,1

### Sklearn SimpleImputer

In [46]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=sys.maxsize, strategy='mean')
transformed_values = imputer.fit_transform(heart_data)

count = 0
for row in transformed_values:
    for value in row:
        if value == sys.maxsize:
            count += 1
print("Missing Value Count: " + str(count))

Missing Value Count: 0